<div class="admin-container">
  <p-card styleClass="shadow-4 border-round-xl overflow-hidden">
    <ng-template pTemplate="header">
      <div class="card-header-custom">
        <i class="pi pi-user-plus"></i>
        <span>Registrar Nuevo Personal</span>
      </div>
    </ng-template>

    <form [formGroup]="personalForm" (ngSubmit)="onSubmit()" class="p-3">
      <div class="grid">
        
        <div class="col-12 md:col-6 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Tipo de Documento</label>
          <p-select
            [options]="tiposDocumento"
            formControlName="tipoDocumento"
            placeholder="Selecciona tipo"
            [fluid]="true">
          </p-select>
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Número de Identificación</label>
          <input 
            pInputText 
            formControlName="identificacion" 
            placeholder="Ej: 1004798832"
            class="w-full">
        </div>

        <div class="col-12 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Nombre Completo</label>
          <input 
            pInputText 
            formControlName="nombre" 
            placeholder="Ingresa el nombre completo"
            class="w-full">
        </div>

        <div class="col-12 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Correo Electrónico</label>
          <input 
            pInputText 
            type="email"
            formControlName="email" 
            placeholder="correo@uniquindio.edu.co"
            class="w-full">
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Cargo / Rol</label>
          <p-select
            [options]="rolesOpciones"
            formControlName="tipoUsuario"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecciona rol"
            [fluid]="true">
          </p-select>
        </div>

        <div class="col-12 md:col-6 flex flex-column gap-2 mb-3">
          <label class="font-bold text-800">Contraseña Temporal</label>
          <p-password
            formControlName="password"
            placeholder="Mínimo 6 caracteres"
            [feedback]="false"
            [toggleMask]="true"
            [fluid]="true">
          </p-password>
        </div>

      </div>

      <div class="flex justify-content-end gap-3 mt-4 pt-3 border-top-1 border-200">
        <p-button 
          label="Cancelar" 
          severity="secondary"
          [outlined]="true"
          (onClick)="cancelar()">
        </p-button>
        <p-button 
          label="Crear Personal" 
          icon="pi pi-check"
          [disabled]="personalForm.invalid || enviando"
          [loading]="enviando"
          type="submit">
        </p-button>
      </div>
    </form>
  </p-card>
</div>